<head>
    <link rel="stylesheet" href="/css/artadd.css">
</head>

<body>

    <div class="formadd">
        <div class="itemleft">
            <h1>artifacts/art</h1>
            <div class="itemadd">
                <form method="POST" action="/art/add" enctype="multipart/form-data">
                    <div class="tren">
                        <div class="trai">
                            <div class="form-group">
                                <label for="title">Title*</label>
                                <input type="text" class="inputaddart" id="title" name="title">
                            </div>
                            <div class="abc">
                                <div class="formselect">
                                    <label for="source">Source*</label>
                                    <select class="select" id="source" name="source">
                                        <% categories.forEach(category=> { %>
                                            <option value="<%= category.danhmuc %>">
                                                <%= category.danhmuc %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div class="formgetimg">
                                    <label>Image*</label>
                                    <label class="fileexplorrer">
                                        <input type="file" class="bntimg" id="image" name="image" accept="image/*"
                                            onchange="previewImage(event)">
                                        file explorrer
                                    </label>
                                    <div class="showimg" id="showimg">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="phai">
                            <div class="form-group">
                                <label for="info" style="margin-left: 10px;">text*</label>
                                <textarea type="text" class="textarea" id="info" name="info"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <form method="POST" action="/art/savelistimg" enctype="multipart/form-data"> -->
                    <div class="duoi">
                        <input type="hidden" class="" id="connect" name="connect" value="<%= maxConnect %>">
                        <label>Multiple image</label>
                        <div class="mutiple">
                            <!---->
                            <input type="hidden" class="" id="location1" name="location" value="1">
                            <label class="custom-file-upload">
                                <input type="file" id="fileInput1" name="listimage" accept="listimage/*"
                                    onchange="uploadImage(1)">
                                +
                            </label>
                            <div class="clearimg cle1" onclick="clearImage(1)">✘</div>
                            <!---->
                            <input type="hidden" class="" id="location2" name="location" value="2">
                            <label class=" custom-file-upload">
                                <input type="file" id="fileInput2" name="listimage" accept="listimage/*"
                                    onchange="uploadImage(2)" />
                                +
                            </label>
                            <div class="clearimg cle2" onclick="clearImage(2)">✘</div>
                            <!---->
                            <input type="hidden" class="" id="location3" name="location" value="3">
                            <label class=" custom-file-upload">
                                <input type="file" id="fileInput3" name="listimage" onchange="uploadImage(3)" />
                                +
                            </label>
                            <div class="clearimg cle3" onclick="clearImage(3)">✘</div>
                            <!---->
                            <input type="hidden" class="" id="location4" name="location" value="4">
                            <label class=" custom-file-upload">
                                <input type="file" id="fileInput4" name="" onchange="uploadImage(4)" />
                                +
                            </label>
                            <div class="clearimg cle4" onclick="clearImage(4)">✘</div>
                        </div>
                    </div>
                    <button type=" submit" class="bntadd">Thêm </button>
                </form>
            </div>
        </div>
        <div class="imageright"></div>
    </div>
    <!--  -->
    <script>
        // show ảnh
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('showimg');
                output.style.backgroundImage = 'url(' + reader.result + ')';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

    <script>
        function uploadImage(index) {
            const input = document.getElementById("fileInput" + index);
            const label = document.getElementsByClassName("custom-file-upload")[index - 1];

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    label.style.backgroundImage = `url('${e.target.result}')`;
                    const formData = new FormData();
                    formData.append('connect', document.getElementById('connect').value);
                    formData.append('location', document.getElementById('location' + index).value);
                    formData.append('listimage', input.files[0]);

                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '/art/saveimage', true);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                        }
                    };
                    xhr.send(formData);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        function clearImage(index) {
            const label = document.getElementsByClassName("custom-file-upload")[index - 1];
            label.style.backgroundImage = null;

            const connect = document.getElementById('connect').value;
            const location = document.getElementById('location' + index).value;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/art/deleteimage', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                    } else {
                    }
                }
            };
            const data = JSON.stringify({ connect: connect, location: parseInt(location) });
            xhr.send(data);
        }
    </script>

</body>