<!-- Trong file views/login.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký </title>
</head>
<body>
    <h1>Đăng ký</h1>
    <form method="POST" action="/auth/signup">
        <div>
            <label for="tendangnhap">Tên đăng nhập:</label>
            <input type="text" id="tendangnhap" name="tendangnhap" required>
        </div>
        <div>
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Đăng ky</button>
    </form>
</body>
</html>
