html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
    animation: blur 700ms forwards;
    backdrop-filter: blur(100px);
}

@keyframes blur {
    0% {
        backdrop-filter: blur(100px);
        background-color: white;
    }

    100% {
        backdrop-filter: blur(0px);
        background-color: rgba(255, 255, 255, 0.0);
        display: none;
    }
}

.logo {
    height: 50px;
    width: 50px;
    margin: 30px;
}

.stylefont {
    font-family: Comic Sans MS;
    position: absolute;
    color: #BCBAB8;
}

.bnt-menu {
    height: 47px;
    width: 47px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 30px;
    color: white;
    display: grid;
    place-content: center;
    user-select: none;
    transition: 300ms;
    position: absolute;
    right: -60px;
    top: 0
}

.bnt-menu:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu {
    height: 47px;
    width: 120px;
    font-size: 26px;
    font-weight: bold;
    position: static;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 100px;
}

.menu.animation1 {
    animation: showmenu 350ms forwards;
}

@keyframes showmenu {
    from {
        border: 2px solid rgba(255, 255, 255, 0.3);
    }

    to {
        border: 2px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(0, 0, 0, 0.5);
        height: 500px;
        width: 800px;
        backdrop-filter: blur(30px);
        border-radius: 15px;
    }
}

.menu.animation2 {
    animation: hidemenu 350ms forwards;
}

@keyframes hidemenu {
    from {
        border: 2px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(0, 0, 0, 0.5);
        height: 500px;
        width: 800px;
        backdrop-filter: blur(30px);
        border-radius: 15px;
    }

    to {
        height: 47px;
        width: 120px;
        font-size: 26px;
        font-weight: bold;
        position: static;
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 100px;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border: 0;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #6d6d6d;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #c8c8c8;
}


.td {
    border-bottom: 1px solid #4F4F4F;
    height: 60px;
    cursor: pointer;
}

.stylecate {
    margin-left: 140px;
    font-weight: lighter;
    color: #4F4F4F;
    user-select: none;
    display: flex;
    align-items: center;
    height: 100%;
}

a {
    text-decoration: none;
}

.search {
    height: 50px;
    width: 600px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    border-radius: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
}

.inputsearch {
    height: 94%;
    width: 500px;
    font-size: 20px;
    font-family: comic Sans MS;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
    padding-left: 20px;
}

.bntsearch {
    height: 100%;
    width: 100px;
    background-color: transparent;
    border: 0;
    font-size: 1.5em;
    border-radius: 100px;
    transition: 200ms;
    cursor: pointer;
}
.bntsearch:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.backgr {
    height: 100%; 
    width: 100%; 
    background-image: url(/imge/Screenshot_1.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
.backgr.dynamic1 {
    animation: dynamic1 500ms forwards;
}
@keyframes dynamic1 {
    to {
        height: 80%; 
        width: 80%; 
    }
}

.next {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.0);
}
.next.dynamic2 {
    animation: dynamic2 500ms forwards;
}

@keyframes dynamic2 {
    to {
        z-index: 9999;
    }
}

.minimalist {
    width: 50%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0);
}

.minimalist.dynamic3 {
    animation: dynamic3 400ms forwards;
    animation-delay: 200ms;
}
@keyframes dynamic3 {
    100% {
        backdrop-filter: blur(30px);
        width: 0px; 
    }
}

.individual {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    display: grid;
    place-content: center;
    position: absolute;
    top: 5%;
    padding: 7px;
    right: 1%;
    transition: 300ms;
    z-index: 1;
}
.individual.bntprofile {
    animation: bntprofile 250ms forwards;
}

@keyframes bntprofile {
    to {
        right: 25%;
        z-index: 110;
    }
}

.individual.bntprofileback {
    animation: bntprofileback 250ms forwards;
}

@keyframes bntprofileback {
    from {
        right: 25%;
        z-index: 110;
    }
    to {
        right: 1%;
        z-index: 1;
    }
}

.individual:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.itemprofile {
    height: 100%;
    width: 100%;
    z-index: -10;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.itemprofile.itemprofilerun {
    animation: itemprofile 500ms forwards;
}

@keyframes itemprofile {
    to {
        z-index: 100;
        backdrop-filter: blur(20px);
    }
}
.itemprofile.itemprofileback {
    animation: itemprofileback 500ms forwards;
}

@keyframes itemprofileback {
    from {
        z-index: 100;
        backdrop-filter: blur(20px);
    }
    to {
        z-index: -10;
        backdrop-filter: blur(0px);
    }

}

.itemright {
    background-color: #1E1E1E;
    height: 100%;
    width: 0px;
    margin-left: auto;
    border-left: 2px solid #353535;
    width: 0px;
    /* animation: itemrightrun 1300ms forwards; */
}

.itemright.itemrightrun {
    animation: itemright 250ms forwards;
}

@keyframes itemright {
    to {
        width: 300px;
    }
}

.itemright.itemrightback {
    animation: itemrightback 250ms forwards;
}

@keyframes itemrightback {
    from {
        width: 300px;
    }
    to {
        width: 0px;
    }
}


.bntclick {
    height: 40px;
    width: 240px;
    background-color: #353535;
    border-radius: 8px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Comic Sans MS;
    user-select: none;   
}

.nextprofile {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    display: none;
    background-image: url(/imge/backblur.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.individual2 {
    position: absolute;
    top: 5%;
    right: 25%;
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    color: white;
    display: grid;
    place-content: center;
    padding: 7px;
    overflow: hidden;
    animation: avtrun 1500ms forwards;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;
    filter: blur(10px);
    opacity: 0.2;
    z-index: -1;
}
@keyframes avtrun {
    0% {
        height: 40px;
        width: 40px;
        right: 25%;
        padding: 7px;
    }
    40% {
        height: 40px;
        width: 40px;
        right: 95%;
        padding: 7px;
    }
    100% {
        height: 97px;
        width: 97px;
        right: 86.4%;
        padding: 30px;
        margin-top: 10px;
    }
} 
.itemright2 {
    background-color: #1E1E1E;
    height: 100%;
    margin-left: auto;
    border-left: 2px solid #353535;
    width: 300px;
    animation: itemrightrun 900ms forwards;
}

@keyframes itemrightrun {
    0% {
        /* width: 800px; */
        width: 300px;
        /* margin-right: -1500px; */
    }
    50% {
        padding: 0;
    }
    100% {
        padding-top: 220px;
        width: 100vw;
    }
}

.abcd {
    height: 100%;
    width: 0px;
    background-color: red;
    position: absolute; 
    top: 0;
    right: 0;
    background-color: #2e2e2e;
    animation: abcd 900ms forwards;
    animation-delay: 300ms;
    border-left: 2px solid #353535
} 
@keyframes abcd {
    to {
        width: 1230px;
    }
}