html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(/imge/backgroudstart.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: 100%; */
}

.header {
    height: 150px;
    display: flex;
    align-items: center;
}

.scroll {
    height: 80%;
    width: 495px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    display: block;
    flex-direction: row;
}
.scroll.animation {
    animation: scrollhide 200ms forwards
}
@keyframes scrollhide {
    to {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border: 0;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #6d6d6d;
}

::-webkit-scrollbar-thumb:hover {
    background: #c8c8c8;
}

.logo {
    height: 70px;
    width: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.showform {
    color: #737B84;
    margin-left: 50px;
}

.showform:hover {
    color: white;
}

.thongbao {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    height: 100%;
    flex: 1;
}

.regiter {
    height: 100%;
    flex: 1;
}

.outbody {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    display: none;
    animation: outbody 300ms 1
}

@keyframes outbody {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(10px);
    }
}

.itemuser {
    height: 60%;
    width: 40%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
    background-color: white;
    animation: itemuser 300ms 1;
    box-shadow: 0 0 0px 0px white;
}

.itemuser.animation2 {
    animation: itemuser2 600ms forwards
}
@keyframes itemuser2 {
    to {
        box-shadow: 0 0 0px 1000px white;
        border: 0
    }
}

@keyframes itemuser {
    from {
        height: 50%;
        width: 30%;
    }
    to {
        height: 60%;
        width: 40%;
    }
}

.scrollregiter {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.bnt {
    height: 40px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto
}

.scrollogin {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: black;
}

.imgthongbao {
    height: 120px;
    width: 120px;
    margin-top: 50px;
}

.imgavt {
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #bbbbf0;
    width: 120px;
    height: 120px;
    background-color: #F6F6FF;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    border: 3px dashed #bbbbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

input[type="file"] {
    display: none;
}
.input {
    outline: 0;
    border-bottom: 2px solid black;
    border: 0
}

.form-input {
    border-bottom: 2px solid rgb(51, 51, 51);
    margin-top: 20px;
    width: 300px;
}
.formregiter, .fromlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit, .tologin, .toregiter {
    height: 30px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #2C79BF;
    height: 30px;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.startfree {
    height: 60px; 
    width: 250px; 
    border: 2px solid rgb(194, 194, 194);
    border-radius: 5px;
    display: grid;
    place-content: center;
    
}