<div class="sidebar">
    <div style="height: 50px;"></div>
    <div style="height: 50px; width: 100%; justify-content: center; align-items: center; display: flex; ">
        <a href="/me/index" class="click">
            <div class="bntnexpage">
                <p>danh mục</p>
            </div>
        </a>
    </div>
    <div style="height: 50px; width: 100%; justify-content: center; align-items: center; display: flex;">
        <a href="/art/viewart" class="click">
            <div class="bntnexpage">
                <p>artifacts/art</p>
            </div>
        </a>
    </div>
    <div style="height: 50px; width: 100%; justify-content: center; align-items: center; display: flex;">
        <a href="#" class="click">
            <div class="bntnexpage">
                <p>visitor</p>
            </div>
        </a>
    </div>
    <div style="height: 50px; width: 100%; justify-content: center; align-items: center; display: flex;">
        <a href="#" class="click">
            <div class="bntnexpage">
                <p>cmt</p>
            </div>
        </a>
    </div>
</div>