<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<div class="containerall">
    <form method="POST" action="/auth/login">
        <div class="contrainerLogin">
            <h1>Đăng nhập</h1>
            <div style="width: 60%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                <input type="text" id="tendangnhap" name="tendangnhap" class="input" placeholder="Tên đăng nhập..."
                    required>
            </div>
            <div style="width: 60%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                <input type="password" id="password" name="password" class="input" placeholder="Mật khẩu..." required>
            </div>
            <button type="submit" class="submit">Đăng nhập</button>
        </div>
    </form>
</div>

</html>